<div class="m-5">
    <div class="m-4">
        <h3>Employee Detail</h3>
    </div>
    <div class="table shadow">
        <table class="table rounded-3 bg-warning">
            <tr>
                <td>First Name</td>
                <th>{{employee?.first}}</th></tr>
            <tr>
                <td>Last Name</td>
                <th>{{employee?.last}}</th></tr>
            <tr>
                <td>Email</td>
                <th>{{employee?.email}}</th></tr>
            <tr>
                <td>Address</td>
                <th>{{employee?.address}}</th></tr>
            <tr>   
                <td>Phone</td>
                <th>{{employee?.phone}}</th></tr>
        </table>
    </div>
</div>