<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Update Employee</h4>
    <button type="button" class="btn-close" aria-label="Close"
        (click)="modal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
    <form [formGroup]="form" (ngSubmit)="submit()" id="form">
        <div class="mb-3 row">
            <div class="col-3">
                <label for="recipient-name" class="col-form-label">First Name</label>
            </div>
            <div class="col-9">
                <input formControlName="first" type="text" class="form-control" required>
                <div *ngIf="form.controls['first'].touched && form.controls['first'].invalid" class="text-danger text-sm-start">
                    <small *ngIf="form.controls['first'].errors && form.controls['first'].errors['required']">First Name is required.</small>
                </div>
            </div>
        </div>
        <div class="mb-3 row">
            <div class="col-3">
                <label for="recipient-name" class="col-form-label">Last Name</label>
            </div>
            <div class="col-9">
                <input formControlName="last" type="text" class="form-control" required>
                <div *ngIf="form.controls['last'].touched && form.controls['last'].invalid" class="text-danger text-sm-start">
                    <small *ngIf="form.controls['last'].errors && form.controls['last'].errors['required']">Last Name is required.</small>
                </div>
            </div>
        </div>
        <div class="mb-3 row">
            <div class="col-3">
                <label for="recipient-name" class="col-form-label">Email</label>
            </div>
            <div class="col-9">
                <input formControlName="email" type="text" class="form-control" required>
                <div *ngIf="form.controls['email'].touched && form.controls['email'].invalid" class="text-danger text-sm-start">
                    <small *ngIf="form.controls['email'].errors && form.controls['email'].errors['required']">Email is required.</small>
                </div>
            </div>
        </div>
        <div class="mb-3 row">
            <div class="col-3">
                <label for="recipient-name" class="col-form-label">Address</label>
            </div>
            <div class="col-9">
                <input formControlName="address" type="text" class="form-control" required>
                <div *ngIf="form.controls['address'].touched && form.controls['address'].invalid" class="text-danger text-sm-start">
                    <small *ngIf="form.controls['address'].errors && form.controls['address'].errors['required']">Address is required.</small>
                </div>
            </div>
        </div><div class="mb-3 row">
            <div class="col-3">
                <label for="recipient-name" class="col-form-label">Phone</label>
            </div>
            <div class="col-9">
                <input formControlName="phone" type="text" class="form-control" required>
                <div *ngIf="form.controls['phone'].touched && form.controls['phone'].invalid" class="text-danger text-sm-start">
                    <small *ngIf="form.controls['phone'].errors && form.controls['phone'].errors['required']">Phone is required.</small>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="submit" form="form" class="btn btn-primary">Update</button>
</div>